/* Dashboard page */
body {
    font-family: 'Muli', sans-serif;
    background-color: #efefef;
}
nav {
    color: #fff;
    background-color: rgba(31, 152, 234, 0.82);
    width: 100% ;
    height: 64px;
}
.navbar {
    margin-bottom: 0px;
    border: none;
}
p.brand-logo.center a {
    color: #fff;
    font-size: 28px;
}
/* a.help {
    margin: 5px;
    float: right;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 105, 148);
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease-out;
    display: inline-block;
    line-height: 36px; 
    padding: 0px 2rem;
    box-shadow: 2px 2px 2px #444;
    margin-top: 12px;    
    font-size: 14px !important;
} */
nav .brand-logo {    
    position: absolute;    
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    line-height: 64px;
    width: 100% ;
    text-align: center;
    left: 0;
    padding: 0 30px;
}
a:focus {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.donation-container {
    display: inline-block;
    width: 100%;
    padding: 35px 20px 20px 20px;
}
.subdiv-content {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px #777;  
    display: inline-block;
    width: 100%;  
}
.sub-heading {    
    padding-bottom: 10px;    
    font-size: 24px;        
    color: #313131;    
    display: inline-block;
}
.openproduct{    
    float: right;    
    margin-top: 5px;    
    margin-right: 15px;    
    color: #000;
}
i.fa.fa-external-link {
    color: #000;    
    margin-right: 5px;    
    margin-top: 2px;
}
label.field-option {    
    width: 100%;
}
.drop-innerdiv{	
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 118px;
    margin-right: 5px;
    height: 34px;
    cursor: pointer;
    padding: 0px 11px;
}
.with-gap {
    margin-top: 10px!important;
}
.range-inner-div {
    background-color: #eee;
    margin-bottom: 15px;
    padding: 15px;
    display: inline-block;
}
.fields-group {
    width: 100%;
    background-color: #ddd;
    margin-bottom: 15px;
    padding: 15px;
    display: inline-block;
}
.wrapper_newline {
    margin-top: 10px;
}
.addrow {
    cursor: pointer;
    padding-left: 0px;
}
i.fa.fa-plus {
    color: #000;
    padding-right: 5px;
}
i.fa.fa-times {
    color: #000;
}
.removerow {
    margin-top: 8px;
    cursor: pointer;
}
.removegroup {
    float:  right;
    width:  0;
}
.amount {
    margin-top: 8px;
}
.amountsize {
    font-size: 16px;
}
p#amount-label {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0;
}
.add-fields-group {
    color: rgb(255, 255, 255);
    background-color: #337ab7;
    letter-spacing: 0.5px;
    line-height: 36px;
    border-radius: 4px;
    cursor: pointer;    
}
.add-fields-group:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
p.price {
    font-size: 16px;
    display: inline-block;
}
input#amount {
    font-size: 16px;
}
button.btn.btn-primary {
    margin-left: 15px;
}
.productimage {
    display: block;
}
.chooseimage {
    padding-right: 0;
}
p.display_title {
    font-size: 18px;
}
p.display_description {
    font-size: 12px;
}
input.btn.btn-primary {
    margin-left: 15px;
}
.price-slider {
    margin-left: 15px;
}
.donationamount {
    display: block;
    margin-bottom: 15 px;
    width: 30% ;
    height: 34px;
    padding: 7px;
}
.price-form {
    margin: 10px 0 10px 15px;
}
p.no-preview {
    margin-left: 15px;
}
.preview-button {
    color: #fff;
    background-color: #337ab7;    
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle; 
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer; 
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.view-shortcode {
    position: relative;
}
.drop-innerdiv label {
    margin-left: 5px;
    cursor: pointer;
}
button.btn.tooltipped.tooltipped -s {
    position: absolute;
    bottom: 1px;
    right: 0;
    top: 1px;
}
.alert.alert -success.alert -dismissable.show {
    margin-left: 15px;
}
.shortcode-note {
    margin-left: 15px;
    margin-top: 10px;
}
.modal-dialog {
    width: 80% ;
}
button.close {
    position: absolute;
    right: 20px;
    font-size: 30px;
    top: 10px;
    color: #000;    
    font-weight: bold;    
    opacity: 1;
}
.card .card-content {    
    padding: 20px;    
    border-radius: 0 0 2px 2px;
}
.card {    
    position: relative;    
    overflow: hidden;    
    margin: 3.5rem 0 1rem 0;    
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.trackfield {
    display: block;
    width: 100% ;
}
.trackset {
    display: inline-block;
    width: 100% ;
}
.track-submit{
    margin-top: 25px;
}
.overlay{
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
#deleteGroup .modal-dialog {
    width:  20%;
}

#deleteGroup .modal-body {
    padding: 10px;
}

#deleteGroup p {
    margin:  0;
}

#deleteGroup .modal-footer {
    padding:  10px;
}
.copyMe{
    position: absolute;
    right: 0;
    top: 0px;
}
h2.sub-heading {
    margin-top:  0;
}
.inner-div p {
    margin: 0;
    background-color: #fff;
    padding: 10px;
}

.inner-div {
    margin-bottom:  0;
}

.donation-note {
    font-style:  italic;
    font-size: 12px;
}

.pagination-number
{
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
.pagination-box{
	margin-right:8%;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #4890c1;
    border-color: #4890c1;
}

.preview_box
{
	width: 100%;
    background-color: #efeff0;
    margin-top: 40px;
    //padding: 15px;
    display: inline-block;
}
.sp-replacer .sp-light
{
display: block !important;
width: 100% !important;
height: 34px !important;
padding: 6px 12px !important;
font-size: 14px !important;
line-height: 1.42857143 !important;
color: #555 !important;
background-color: #fff !important;
background-image: none !important;
border: 1px solid #ccc !important;
border-radius: 4px !important;
}

div#quick_buy_products_filter
{
	/* right:0;
	position:absolute; */
	float:right !important;
}

.dashboard{
	width:100% !important;
	padding-right: 0 !important; 
    padding-left: 0 !important; 
}

#bar_chart{
	margin:20px;
}

.limit {
	margin-left: 20px;
}

ul.limit li {
	list-style-type: disc !important;	
}

.modal-content img{
	width:100%;
}

#quick_buy_products tbody tr td a 
{
	//text-decoration:none !important;
	Color:black;
}

.day_week_month
{
	margin-right:20px;	
}

.cursor_pointer
{
	cursor:pointer;
}

.persist_radio_box
{
	padding-top:10px;
}

.left-content-setting
{
	padding-left:0 !important;
	padding-right:0 !important;
}

.preview_box .quick_buy_slider{
	padding-top:15px !important;
	padding-left:15px !important;
}

/*toogle design*/

.onoff input[type=checkbox]{visibility: hidden;}

.onoff {
  margin-left: -27px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  cursor: pointer;
  width: 45px;
  height: 20px;
  line-height: 24px;
  font-size: 12px;
  font-family: inherit;
  float: right;

}


.onoff label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #c6cedf;
  border-radius: 50px;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;
  text-indent: 27px;
 
}
.onoff label:after {
  content: 'NO';
  display: block;
  position: absolute;
  top: -2px;
  left: -4px;
  width: 100%;
  font-size: 10px;
  color: #ffffff;
  z-index: 1;
  font-weight: 700;
}
.onoff label:before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background: #FFF;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 4px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}

.onoff input:checked + label {
  background: #52c1bc;
  text-indent: 8px;
}
.onoff input:checked + label:after {
  content: 'YES';
  color: #ffffff;
  left: -1px;
}
#new_note .onoff input:checked + label:after {
  content: 'YES';
  color: #ffffff;
  left: -20px;
}
.onoff input:checked + label:before {
  left: 28px;
}

/* Sticky Footer*/

.sticky_formcolor
{
    padding: 0;
    position: sticky;
    width: 100%;
    bottom: 0px;
    background: #c6cedf;
    box-shadow: none;
    margin-bottom: 0;
    border-radius: 0;
    z-index: 2;
}

.copycss_button{
	position: absolute;
	right: 0px;
	top: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 600;
}

.sticky_formcolor .shortcode_heading
{
	height: 50px;padding: 10px 0;
}

h2.sub-heading.subleft 
{
    font-size: 14px;
    margin: 0;
    padding: 8px 5px 0 20px;
}
.slide_down 
{
    padding: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.btn-info{
	background:#52c1bc;
	border-color:#52c1bc;
}
.btn-info:hover{
	background:#52c1bc;
	border-color:#52c1bc;
}

.copystyle_wrapper .btn 
{
padding-bottom:4px !important;
padding-top:4px !important;
}

/* End */

/* CSS for Help Page */

.help_page h2{
	font-size:14px !important;
}

.formcolor_help{
	padding: 15px 20px 0 20px;
	position: relative;    
    padding-bottom: 35px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	width:100%;	
	}
.copystyle_wrapper .form-control{background-color: #fff;}

.dd-help-ul li{
    line-height: 24px;
}
.dd-help-ul li span{    
    font-size: 12px;
    font-weight: 600;
    width: 100px;
    float: left;
    color: #33475b;
  }
  
.dd-help,.sub-heading{
  font-size: 14px;
  font-weight: bold;
  color: #3d4166;
  margin-bottom: 18px;
  margin-top:  10px;
  margin-left: 14px;
}
  
  .dd-help-ul{
    list-style: none;
    padding: 15px 25px;
    background-color: #f5f8fa;
    border: 1px solid #c6cedf;
    border-radius: 3px;
}

.help_accordians .panel-default{
  
  border:0;
  box-shadow: none;
  border-radius: 3px; 
}
.help_accordians .panel-default .panel-heading{
  background-color:  #f5f8fa;
  //padding: 15px 15px;
  border-radius: 0px;
  cursor: pointer;
  border: 1px solid #dfe7f7;
}
.need_help{padding-bottom: 15px;
    margin-bottom: 10px;}
.panel-title p{margin: 0;}
.panel-group .panel-heading+.panel-collapse>.panel-body{border-top:0;}
.panel-body{
    border: 1px solid #dfe7f7;
    margin-bottom: 10px;
    color: #1a1a1a;
    padding: 25px 20px;
    font-size: 16px;
}
.help_accordians ul li{
  padding-left: 5px;
  line-height: 20px;
  font-size: 12px;
}
.panel-title span{font-size: 12px;font-weight: 600;color: #1a1a1a;}
.panel-title span.fa{
    font-weight: 400;
    background-color: #52c1bc;
    font-size: 10px;
    width: 16px;
    height: 16px;
    text-align: center;
    padding-top: 2px;
    border-radius: 3px;
    color: #fff;
    padding-left: 1px;
}
.version_update_section{
  float: left;width: 100%;
  padding-top: 40px;padding-bottom: 30px;
}
.feature_box{
  border: 1px solid #c6cedf;border-radius: 3px;float: left;
  width: 100%;
}
.feature_box h3{
    font-size:14px;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #c6cedf;
    background: #f5f8fa;
    color: #3d4166;
    font-weight: bold;
  }
.verison_no{    
    padding: 2px 8px;
    background-color:#52c1bc;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    margin-left: 5px;
    position: relative;
    top: -3px; }
.feature_block{
  padding: 20px 15px;
  float: left;
}
.version_block{
  float: left;
  padding-bottom: 20px;padding-top: 20px;
  width: 100%;
}
.feature_block div{
    float: left;
    width: 100%;
    padding-bottom: 3px;
    padding-top: 10px;
    background: #f5f8fa;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.feature_text
{
  font-size: 14px;padding-left: 15px;padding-right: 15px;padding-bottom: 15px;
}
.version_date{text-align: right;position: relative;}
.version_details{border-left:1px solid #dfe7f7;padding-top: 8px;padding-bottom: 8px;}
.version_details ul li{line-height: 20px;padding: 3px 12px;
    margin-bottom: 5px;font-size: 12px;}
.version_details ul li:first-child,.version_details ul li:last-child{background-color: #fff;border: 1px solid #dfe7f7;}
.version_details ul{padding-left: 0px;padding-top: 10px;list-style: none;}
.version_details_2 ul li{border:1px solid #ece9e9;}
a:hover{text-decoration: none;}
.version_date i{
    background-color: #f5f8fa;
    right: -15px;
    padding: 5px;
    color: #3d4166;
    cursor: pointer;
    border: 1px solid #dfe7f7;
    border-right: 0;
}
.feature_block strong {font-size: 12px;}
.feature_text a b{color: inherit;}
 /* Make it move */
}
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

.slide_down{padding:10px;cursor:pointer;
  position: relative;display: inline-block;
}

.slide_down i{
    margin-left: 10px;    
    background-color: #52c1bc;
    font-size: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    padding-top: 3px;
    border-radius: 3px;
    color: #fff;
}

.shortcode_heading{
	background:transparent;
	padding:10px;
	width:49%;
	margin-right:1%;	
}
#script_code{
	width:100%;font-size: 12px;
}
#shortcode_info{
	background:#f5f8fa;padding:10px;display:none;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    border: 1px solid #c6cedf;
    border-bottom: 0;
}

.panel-group {
	margin-bottom:5px !important;
}
.dd-help-ul li a{
	font-size:12px !important;
	color: #52c1bc !important;
}
/* End */