
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.product_variants
{
	width:75%;
	margin: 0 auto;
}
#quick_buy_popup_modal 
{
	//display:none;
}
a.product_add, a.product_add_modal
{
	background: #000;
    border: 1px solid #fff;
    color: white !important;
	cursor:pointer;
}

/*.img-container  { 
    width:100%;
    height:320px;
    overflow:hidden;
}

.img-container img  {
    width:100%;
    height:auto;
}*/

.slick-track
{
    margin-left : 0 !important;
}

.preview_title {
    text-align: left;
    margin-left: 40px;
}

.preview_subtitle {
    text-align: left;
    margin-left: 40px;
}

.product_name {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align : left;
    float : left;
    width : 100%;
}

.slick-slide {
    margin : 0px;
}

.variants {
    text-align : left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.currency {
    text-align : left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.add_to_cart_btn {
    text-align : left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.recently_viewed_image
{
    /* float : left; */
}